<div *ngIf="!data">
    <form [formGroup]="jadwalForm" (ngSubmit)="onFormSubmit(jadwalForm.value)">
        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Tanggal" formControlName="tanggal" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!jadwalForm.get('tanggal').valid && jadwalForm.get('tanggal').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Waktu" formControlName="waktu" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!jadwalForm.get('waktu').valid && jadwalForm.get('waktu').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Tuan" formControlName="tuan" [errorStateMatcher]="matcher" type="number">
            <mat-error *ngIf="!jadwalForm.get('tuan').valid && jadwalForm.get('tuan').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Tamu" formControlName="tamu" [errorStateMatcher]="matcher" type="number">
            <mat-error *ngIf="!jadwalForm.get('tamu').valid && jadwalForm.get('tamu').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <div class="button-row">
            <button type="submit" [disabled]="!jadwalForm.valid" mat-flat-button color="primary">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</div>

<div *ngIf="data">
    <form [formGroup]="jadwalForm" (ngSubmit)="onFormSubmitUpdate(jadwalForm.value)">
        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Tanggal" formControlName="tanggal" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!jadwalForm.get('tanggal').valid && jadwalForm.get('tanggal').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Waktu" formControlName="waktu" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!jadwalForm.get('waktu').valid && jadwalForm.get('waktu').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Tuan" formControlName="tuan" [errorStateMatcher]="matcher" type="number">
            <mat-error *ngIf="!jadwalForm.get('tuan').valid && jadwalForm.get('tuan').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Tamu" formControlName="tamu" [errorStateMatcher]="matcher" type="number">
            <mat-error *ngIf="!jadwalForm.get('tamu').valid && jadwalForm.get('tamu').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <div class="button-row">
            <button type="submit" [disabled]="!jadwalForm.valid" mat-flat-button color="primary">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</div>