table {
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
  }
  
  .table-margin {
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
  }
  
  mat-icon-button {
    font-size: 100px;
  }
  
  .new-data {
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
  }
  
  .space-mat-icon {
    margin-right: 5%;
  }