<div class="new-data">
    <button mat-icon-button (click)="openDialog()">
        <mat-icon>add_circle</mat-icon>
    </button>
</div>

<div class="mat-elevation-z8 table-margin">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="tim">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tim</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.tim.nama}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="nama">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.nama}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="tinggiBadan">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tinggi Badan</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.tinggiBadan}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="beratBadan">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Berat Badan</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.beratBadan}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="posisi">
            <mat-header-cell *matHeaderCellDef mat-sort-header>posisi</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.posisi}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="noPunggung">
            <mat-header-cell *matHeaderCellDef mat-sort-header>No Punggung</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.noPunggung}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>>
            <mat-cell *matCellDef="let element">
                <button class="space-mat-icon" (click)=" getPemainDetail(element.id, element.tim.id, element.nama, element.tinggiBadan,
                    element.beratBadan, element.posisi, element.noPunggung)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deletePemainDetail(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
    </table>

    <mat-paginator [length]="numberOfRows" [pageSizeOptions]="[5, 10, 30]" (page)="getPagination($event)"
        showFirstLastButtons>
    </mat-paginator>
</div>