<div *ngIf="!data">
    <form [formGroup]="pemainForm" (ngSubmit)="onFormSubmit(pemainForm.value)">
        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Tim" formControlName="tim" [errorStateMatcher]="matcher" type="number">
            <mat-error *ngIf="!pemainForm.get('tim').valid && pemainForm.get('tim').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Nama" formControlName="nama" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!pemainForm.get('nama').valid && pemainForm.get('nama').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Tinggi Badan" formControlName="tinggiBadan" [errorStateMatcher]="matcher"
                type="number">
            <mat-error *ngIf="!pemainForm.get('tinggiBadan').valid && pemainForm.get('tinggiBadan').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Berat Badan" formControlName="beratBadan" [errorStateMatcher]="matcher"
                type="number">
            <mat-error *ngIf="!pemainForm.get('beratBadan').valid && pemainForm.get('beratBadan').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Posisi" formControlName="posisi" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!pemainForm.get('posisi').valid && pemainForm.get('posisi').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="No Punggung" formControlName="noPunggung" [errorStateMatcher]="matcher"
                type="number">
            <mat-error *ngIf="!pemainForm.get('noPunggung').valid && pemainForm.get('noPunggung').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <div class="button-row">
            <button type="submit" [disabled]="!pemainForm.valid" mat-flat-button color="primary">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</div>

<div *ngIf="data">
    <form [formGroup]="pemainForm" (ngSubmit)="onFormSubmitUpdate(pemainForm.value)">
        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Tim" formControlName="tim" [errorStateMatcher]="matcher" type="number">
            <mat-error *ngIf="!pemainForm.get('tim').valid && pemainForm.get('tim').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Nama" formControlName="nama" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!pemainForm.get('nama').valid && pemainForm.get('nama').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Tinggi Badan" formControlName="tinggiBadan" [errorStateMatcher]="matcher"
                type="number">
            <mat-error *ngIf="!pemainForm.get('tinggiBadan').valid && pemainForm.get('tinggiBadan').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Berat Badan" formControlName="beratBadan" [errorStateMatcher]="matcher"
                type="number">
            <mat-error *ngIf="!pemainForm.get('beratBadan').valid && pemainForm.get('beratBadan').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Posisi" formControlName="posisi" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!pemainForm.get('posisi').valid && pemainForm.get('posisi').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" example-full-width">
            <input matInput placeholder="No Punggung" formControlName="noPunggung" [errorStateMatcher]="matcher"
                type="number">
            <mat-error *ngIf="!pemainForm.get('noPunggung').valid && pemainForm.get('noPunggung').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <div class="button-row">
            <button type="submit" [disabled]="!pemainForm.valid" mat-flat-button color="primary">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</div>