<div class="new-data">
    <button mat-icon-button (click)="openDialog()">
        <mat-icon>add_circle</mat-icon>
    </button>
</div>

<div class="mat-elevation-z8 table-margin">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="tanggal">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tanggal</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.tanggal}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="waktu">
            <mat-header-cell *matHeaderCellDef mat-sort-header>waktu</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.waktu}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="tuan">
            <mat-header-cell *matHeaderCellDef mat-sort-header>tuan</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.tuan.nama}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="tamu">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tamu</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.tamu.nama}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>>
            <mat-cell *matCellDef="let element">
                <button class="space-mat-icon" (click)=" getJadwalDetail(element.id, element.tanggal, element.waktu, element.tuan.id,
                    element.tamu.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteJadwalDetail(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
    </table>

    <mat-paginator [length]="numberOfRows" [pageSizeOptions]="[5, 10, 30]" (page)="getPagination($event)"
        showFirstLastButtons>
    </mat-paginator>
</div>