<div class="new-data">
    <button mat-icon-button (click)="openDialog()">
        <mat-icon>add_circle</mat-icon>
    </button>
</div>

<div class="mat-elevation-z8 table-margin">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="nama">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.nama}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="logo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Logo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.logo}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="tahun">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tahun</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.tahun}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="alamat">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Alamat</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.alamat}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="kota">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Kota</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.kota}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>>
            <mat-cell *matCellDef="let element">
                <button class="space-mat-icon"
                    (click)="getTimDetail(element.id, element.nama, element.logo, element.tahun, element.alamat, element.kota)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteTimDetail(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
    </table>

    <mat-paginator [length]="numberOfRows" [pageSizeOptions]="[5, 10, 30]" (page)="getPagination($event)"
        showFirstLastButtons>
    </mat-paginator>
</div>