<!-- <div class="new-data">
    <button mat-icon-button (click)="openDialog()">
        <mat-icon>add_circle</mat-icon>
    </button>
</div> -->

<div class="mat-elevation-z8 table-margin">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="tanggal">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tanggal</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.jadwal.tanggal}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="waktu">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Waktu</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.jadwal.waktu}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="tuan">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tuan</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.jadwal.tuan.nama}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="tamu">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tamu</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.jadwal.tamu.nama}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="skortuan">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Skor Tuan</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.laporanskor.skortuan}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="skortamu">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Skor Tamu</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.laporanskor.skortamu}}</mat-cell>>
        </ng-container>


        <!-- <ng-container matColumnDef="nama">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nama Pemain Coba aja</mat-header-cell>>
            <mat-cell *matCellDef="let element">
                <tr *ngFor="let goal of element.laporangoal">
                    <td>{{goal.pemain.nama}}</td>
                </tr>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="menitgoal">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nama menitgoal Coba aja</mat-header-cell>>
            <mat-cell *matCellDef="let element">
                <tr *ngFor="let goal of element.laporangoal">
                    <td>{{goal.menitgoal}}</td>
                </tr>
            </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="nama">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nama Pemain</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.pemain.nama}}</mat-cell>>
        </ng-container>

        <ng-container matColumnDef="menitgoal">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Menit Goal</mat-header-cell>>
            <mat-cell *matCellDef="let element">{{element.menitgoal}}</mat-cell>>
        </ng-container>

        <!-- <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>>
            <mat-cell *matCellDef="let element">
                <button
                    (click)="getLaporanDetail(element.id, element.tanggal, element.waktu, element.tuan.id, element.tamu.id)">Update</button>
                <button (click)="deleteLaporanDetail(element.id)">Delete</button>
            </mat-cell>>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
    </table>

    <mat-paginator [length]="numberOfRows" [pageSizeOptions]="[5, 10, 30]" (page)="getPagination($event)"
        showFirstLastButtons>
    </mat-paginator>
</div>