<div *ngIf="!data">
    <form [formGroup]="timForm" (ngSubmit)="onFormSubmit(timForm.value)">
        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Nama" formControlName="nama" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!timForm.get('nama').valid && timForm.get('nama').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Logo" formControlName="logo" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!timForm.get('logo').valid && timForm.get('logo').touched">
                Please enter your logo
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Tahun" formControlName="tahun" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!timForm.get('tahun').valid && timForm.get('tahun').touched">
                Please enter your tahun
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Alamat" formControlName="alamat" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!timForm.get('alamat').valid && timForm.get('alamat').touched">
                Please enter your alamat
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Kota" formControlName="kota" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!timForm.get('kota').valid && timForm.get('kota').touched">
                Please enter your kota
            </mat-error>
        </mat-form-field>

        <div class="button-row">
            <button type="submit" [disabled]="!timForm.valid" mat-flat-button color="primary">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</div>

<div *ngIf="data">
    <form [formGroup]="timForm" (ngSubmit)="onFormSubmitUpdate(timForm.value)">
        <mat-form-field class=" example-full-width">
            <input matInput placeholder="Nama" formControlName="nama" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!timForm.get('nama').valid && timForm.get('nama').touched">
                Please enter your name
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Logo" formControlName="logo" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!timForm.get('logo').valid && timForm.get('logo').touched">
                Please enter your logo
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Tahun" formControlName="tahun" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!timForm.get('tahun').valid && timForm.get('tahun').touched">
                Please enter your tahun
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Alamat" formControlName="alamat" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!timForm.get('alamat').valid && timForm.get('alamat').touched">
                Please enter your alamat
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Kota" formControlName="kota" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!timForm.get('kota').valid && timForm.get('kota').touched">
                Please enter your kota
            </mat-error>
        </mat-form-field>

        <div class="button-row">
            <button type="submit" [disabled]="!timForm.valid" mat-flat-button color="primary">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</div>